# Table of content 
## 1.Importing librairies, path and dataframe 
## 2.Checking dataframe size, shape
## 3.Steps and asnwers to the task
### Question 3 
### Question 4 6 5
### Question 6
### Question 7
## 4.Exporting dataframe

## 1.Importing librairies, path and dataframe

In [3]:
# Importing librairies
import pandas as pd
import numpy as np
import os

In [5]:
path = r'C:\Users\salmi\Desktop\Projects\Achievement 4\Instacart Basket Analysis'

In [7]:
#Importing dataframe ords_prods_merge_2
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_3.pkl'))

## 2.Checking dataframe size, shape

In [9]:
ords_prods_merge.head()

,order_id,user_id,order_amount,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer

In [10]:
ords_prods_merge.shape

(32404859, 20)

##### Dropping column busiest_day and keeping busiest_days instead + removing merge

In [12]:
ords_prods_merge.drop(columns=['busiest_day','_merge'], inplace=True)

## 3.Steps and asnwers to the task

### Question 3

In [15]:
# Aggregated mean of the "order_amount" "department_id" for whole dataframe
ords_prods_merge.groupby('department_id')['order_amount'].mean()

department_id
1     15.457838
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
2     17.277920
20    16.473447
21    22.902379
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
Name: order_amount, dtype: float64

##### When aggreagating with the whole dataframe, the means are higher than with the subset df. that was created

### Question 4 and 5

In [18]:
#Question 4 has been already done, as the result can be seen on the data table already with the column loyalty_flag

In [19]:
#Question 5: difference of spending habits
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

##### The mean for loyal customer is lower than new customers or regular customer. It seems to be an error on the max prices

### Question 6

In [22]:
# Creating column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [23]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [24]:
# Checking spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [25]:
pd.options.display.max_rows = 100

In [26]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag']].head(100)

   user_id  average_spend spender_flag
0        1       6.367797  Low_spender
1        1       6.367797  Low_spender
2        1       6.367797  Low_spender
3        1       6.367797  Low_spender
4        1       6.367797  Low_spender
5        1       6.367797  Low_spender
6        1       6.367797  Low_spender
7        1       6.367797  Low_spender
8        1       6.367797  Low_spender
9        1       6.367797  Low_spender
10       1       6.367797  Low_spender
11       1       6.367797  Low_spender
12       1       6.367797  Low_spender
13       1       6.367797  Low_spender
14       1       6.367797  Low_spender
15       1       6.367797  Low_spender
16       1       6.367797  Low_spender
17       1       6.367797  Low_spender
18       1       6.367797  Low_spender
19       1       6.367797  Low_spender
20       1       6.367797  Low_spender
21       1       6.367797  Low_spender
22       1       6.367797  Low_spender
23       1       6.367797  Low_spender
24       1       6.367797  Low_spender
25       1       6.367797  Low_spender
26       1       6.367797  Low_spender
27       1       6.367797  Low_spender
28       1       6.367797  Low_spender
29       1       6.367797  Low_spender
30       1       6.367797  Low_spender
31       1       6.367797  Low_spender
32       1       6.367797  Low_spender
33       1       6.367797  Low_spender
34       1       6.367797  Low_spender
35       1       6.367797  Low_spender
36       1       6.367797  Low_spender
37       1       6.367797  Low_spender
38       1       6.367797  Low_spender
39       1       6.367797  Low_spender
40       1       6.367797  Low_spender
41       1       6.367797  Low_spender
42       1       6.367797  Low_spender
43       1       6.367797  Low_spender
44       1       6.367797  Low_spender
45       1       6.367797  Low_spender
46       1       6.367797  Low_spender
47       1       6.367797  Low_spender
48       1       6.367797  Low_spender
49       1       6.367797  Low_spender
50       1       6.367797  Low_spender
51       1       6.367797  Low_spender
52       1       6.367797  Low_spender
53       1       6.367797  Low_spender
54       1       6.367797  Low_spender
55       1       6.367797  Low_spender
56       1       6.367797  Low_spender
57       1       6.367797  Low_spender
58       1       6.367797  Low_spender
59       2       7.515897  Low_spender
60       2       7.515897  Low_spender
61       2       7.515897  Low_spender
62       2       7.515897  Low_spender
63       2       7.515897  Low_spender
64       2       7.515897  Low_spender
65       2       7.515897  Low_spender
66       2       7.515897  Low_spender
67       2       7.515897  Low_spender
68       2       7.515897  Low_spender
69       2       7.515897  Low_spender
70       2       7.515897  Low_spender
71       2       7.515897  Low_spender
72       2       7.515897  Low_spender
73       2       7.515897  Low_spender
74       2       7.515897  Low_spender
75       2       7.515897  Low_spender
76       2       7.515897  Low_spender
77       2       7.515897  Low_spender
78       2       7.515897  Low_spender
79       2       7.515897  Low_spender
80       2       7.515897  Low_spender
81       2       7.515897  Low_spender
82       2       7.515897  Low_spender
83       2       7.515897  Low_spender
84       2       7.515897  Low_spender
85       2       7.515897  Low_spender
86       2       7.515897  Low_spender
87       2       7.515897  Low_spender
88       2       7.515897  Low_spender
89       2       7.515897  Low_spender
90       2       7.515897  Low_spender
91       2       7.515897  Low_spender
92       2       7.515897  Low_spender
93       2       7.515897  Low_spender
94       2       7.515897  Low_spender
95       2       7.515897  Low_spender
96       2       7.515897  Low_spender
97       2       7.515897  Low_spender
98       2       7.515897  Low_spender
99       2       7.515897  Low_spender

### Question 7

In [28]:
#Creating column for customer frequency
ords_prods_merge['customer frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [29]:
# Creating flag for customer frequency

ords_prods_merge.loc[ords_prods_merge['customer frequency'] > 20, 'frequency flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['customer frequency'] > 10) & (ords_prods_merge['customer frequency'] <= 20), 'frequency flag'] = 'Regular-frequent customer'
ords_prods_merge.loc[ords_prods_merge['customer frequency'] <= 10, 'frequency flag'] = 'Frequent customer'

In [30]:
ords_prods_merge [['user_id', 'days_since_prior_order', 'customer frequency', 'frequency flag']].head(100)

,user_id,days_since_prior_order,customer frequency,frequency flag
0,1,NaN,20.5,Non-frequent customer
1,1,NaN,20.5,Non-frequent customer
2,1,NaN,20.5,Non-frequent customer
3,1,NaN,20.5,Non-frequent customer
4,1,NaN,20.5,Non-frequent customer
5,1,15.0,20.5,Non-frequent customer
6,1,15.0,20.5,Non-frequent customer
7,1,15.0,20.5,Non-frequent customer
8,1,15.0,20.5,Non-frequent customer
9,1,15.0,20.5,Non-frequent customer
10,1,15.0,20.5,Non-frequent customer
11,1,21.0,20.5,Non-frequent customer
12,1,21.0,20.5,Non-frequent customer
13,1,21.0,20.5,Non-frequent customer
14,1,21.0,20.5,Non-frequent customer
15,1,21.0,20.5,Non-frequent customer
16,1,29.0,20.5,Non-frequent customer
17,1,29.0,20.5,Non-frequent customer
18,1,29.0,20.5,Non-frequent customer
19,1,29.0,20.5,Non-frequent customer
20,1,29.0,20.5,Non-frequent customer
21,1,28.0,20.5,Non-frequent customer
22,1,28.0,20.5,Non-frequent customer
23,1,28.0,20.5,Non-frequent customer
24,1,28.0,20.5,Non-frequent customer
25,1,28.0,20.5,Non-frequent customer
26,1,28.0,20.5,Non-frequent customer
27,1,28.0,20.5,Non-frequent customer
28,1,28.0,20.5,Non-frequent customer
29,1,19.0,20.5,Non-frequent customer
30,1,19.0,20.5,Non-frequent customer
31,1,19.0,20.5,Non-frequent customer
32,1,19.0,20.5,Non-frequent customer
33,1,20.0,20.5,Non-frequent customer
34,1,20.0,20.5,Non-frequent customer
35,1,20.0,20.5,Non-frequent customer
36,1,20.0,20.5,Non-frequent customer
37,1,20.0,20.5,Non-frequent customer
38,1,14.0,20.5,Non-frequent customer
39,1,14.0,20.5,Non-frequent customer
40,1,14.0,20.5,Non-frequent customer
41,1,14.0,20.5,Non-frequent customer
42,1,14.0,20.5,Non-frequent customer
43,1,14.0,20.5,Non-frequent customer
44,1,0.0,20.5,Non-frequent customer
45,1,0.0,20.5,Non-frequent customer
46,1,0.0,20.5,Non-frequent customer
47,1,0.0,20.5,Non-frequent customer
48,1,0.0,20.5,Non-frequent customer
49,1,0.0,20.5,Non-frequent customer
50,1,30.0,20.5,Non-frequent customer
51,1,30.0,20.5,Non-frequent customer
52,1,30.0,20.5,Non-frequent customer
53,1,30.0,20.5,Non-frequent customer
54,1,30.0,20.5,Non-frequent customer
55,1,30.0,20.5,Non-frequent customer
56,1,30.0,20.5,Non-frequent customer
57,1,30.0,20.5,Non-frequent customer
58,1,30.0,20.5,Non-frequent customer
59,2,NaN,13.0,Regular-frequent customer
60,2,NaN,13.0,Regular-frequent customer
61,2,NaN,13.0,Regular-frequent customer
62,2,NaN,13.0,Regular-frequent customer
63,2,NaN,13.0,Regular-frequent customer
64,2,NaN,13.0,Regular-frequent customer
65,2,NaN,13.0,Regular-frequent customer
66,2,NaN,13.0,Regular-frequent customer
67,2,NaN,13.0,Regular-frequent customer
68,2,NaN,13.0,Regular-frequent customer
69,2,NaN,13.0,Regular-frequent customer
70,2,NaN,13.0,Regular-frequent customer
71,2,NaN,13.0,Regular-frequent customer
72,2,10.0,13.0,Regular-frequent customer
73,2,10.0,13.0,Regular-frequent customer
74,2,10.0,13.0,Regular-frequent customer
75,2,10.0,13.0,Regular-frequent customer
76,2,10.0,13.0,Regular-frequent customer
77,2,10.0,13.0,Regular-frequent customer
78,2,3.0,13.0,Regular-frequent customer
79,2,3.0,13.0,Regular-frequent customer
80,2,3.0,13.0,Regular-frequent customer
81,2,3.0,13.0,Regular-frequent customer
82,2,3.0,13.0,Regular-frequent customer
83,2,8.0,13.0,Regular-frequent customer
84,2,8.0,13.0,Regular-frequent customer
85,2,8.0,13.0,Regular-frequent customer
86,2,8.0,13.0,Regular-frequent customer
87,2,8.0,13.0,Regular-frequent customer
88,2,8.0,13.0,Regular-frequent customer
89,2,8.0,13.0,Regular-frequent customer
90,2,8.0,13.0,Regular-frequent customer
91,2,8.0,13.0,Regular-frequent customer
92,2,8.0,13.0,Regular-frequent customer
93,2,8.0,13.0,Regular-frequent customer
94,2,8.0,13.0,Regular-frequent customer
95,2,8.0,13.0,Regular-frequent customer
96,2,8.0,13.0,Regular-frequent customer
97,2,8.0,13.0,Regular-frequent customer
98,2,8.0,13.0,Regular-frequent customer
99,2,8.0,13.0,Regular-frequent customer

## 4.Exporting dataframe

In [48]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))